.loader {
  position: relative;
  display: block;
  border-radius: 2px;
  width: 4em;
  height: 4em;
  background-color: hotpink;
  animation: flip 1s linear infinite;
}

@keyframes flip {
  from {
    transform: perspective(100px) rotateX(180deg) rotateY(0deg);
  }
  to {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
}
