.loader-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border: 15px solid;
  border-color: #e6af2e #1b998b;
  border-radius: 50%;
  animation: spin 1.5s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
